@model IEnumerable<mvcAPP.Models.Employee>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@using (Html.BeginForm("DeleteMultipleEmployees", "Employee", FormMethod.Post))
{
    <table border="1" style=" width: 100%;">
        <thead>
            <tr>
                <th style="background-color: #f2f2f2;"><input type="checkbox" id="checkAll" /></th>
                <th style="background-color: #f2f2f2;">Name</th>
                <th style="background-color: #f2f2f2;">Gender</th>
                <th style="background-color: #f2f2f2;">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr style="border: 1px solid black;">
                    <td>
                        <input type="checkbox" class="checkBox" name="employeesIdsToDelete[]" value="@employee.Id" />
                    </td>
                    <td >@employee.FullName</td>
                    <td>@employee.Gender</td>
                    <td>@employee.Email</td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Delete Selected Employees" />
}

@section scripts
{
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script type="text/javascript">
        $(function ()
        {
            $("#checkAll").click(function ()
            {
                $(".checkBox").prop('checked', $(this).prop('checked'));
            });
            // if all checkbox are selected, then checked the select all checkbox
            // and viceversa
            $(".checkBox").click(function ()
            {
                if ($(".checkBox").length == $(".checkBox:checked").length)
                {
                    $("#checkAll").prop('checked', true);
                }
                else
                {
                    $("#checkAll").prop('checked', false);
                }
            });
           
            //display the dialog box when the user clicks on the delete button
            $("input[type='submit']").click(function ()
            {
                var countCheckedCheckboxes = $(".checkBox:checked").length;
                if (countCheckedCheckboxes == 0)
                {
                    alert("Please select at least one employee to delete");
                    return false;
                }
                else
                {
                    return confirm( countCheckedCheckboxes + " Employee(s) will be deleted. Are you sure?");
                }
            });
        });

    </script>
}

@*@section styles{
    <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, th, td {
                border: 1px solid black;
            }

            th, td {
                padding: 8px;
                text-align: left;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
}*@

